{% extends 'master.html' %}
{% load static %}


{% block title %}
    <title>Thank You</title>
{% endblock %}



{% block extra_css %}

{% endblock %}


{% block content %}
    <div class="container-fluid bg-light py-6 my-6 mt-0">
        <div class="container text-center animated bounceInDown">
            <h1 class="display-1 mb-4">Thank You</h1>
            <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
                <li class="breadcrumb-item"><a href="{% url 'landing_page' %}">Home</a></li>
                <li class="breadcrumb-item text-dark"><a href="{% url 'booking' %}">Booking</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Thank You</li>
            </ol>
        </div>

        <p class="lead mb-4 text-center">Your booking has been received. We will contact you within 24 hours to confirm the details.</p>
    </div>
{% endblock %}


{% block extra_js %}

{% endblock %}